[project]
name = "ml-exam"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "autogen-agentchat>=0.7.5",
    "autogen-ext[ollama,openai]>=0.7.5",
    "dotenv>=0.9.9",
]
